<div class="container">

  <hr class="my-5">

  <div class="jumbotron grey lighten-2">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a simple Angular and Material Design Bootstrap setup project for everyone.</p>
    <p class="lead">Angular router module already setup for you.</p>
    <small class="lead">by #dylut2000</small>
    <hr class="my-2">
    <a mdbBtn color="mdb-color" outline="true" size="lg" href="https://mdbootstrap.com/docs/angular/" target="_blank"
      role="button" mdbWavesEffect>
      Check More MDBootstrap Components
    </a>
  </div>

  <div class="row">
    <button mdbBtn type="button" color="primary" mdbWavesEffect>Primary</button>
    <button mdbBtn type="button" color="default" mdbWavesEffect>Default</button>
    <button mdbBtn type="button" color="secondary" mdbWavesEffect>Secondary</button>
    <button mdbBtn type="button" color="success" mdbWavesEffect>Success</button>
    <button mdbBtn type="button" color="info" mdbWavesEffect>Info</button>
    <button mdbBtn type="button" color="warning" mdbWavesEffect>Warning</button>
    <button mdbBtn type="button" color="danger" mdbWavesEffect>Danger</button>
    <button mdbBtn type="button" color="primary" outline="true" mdbWavesEffect>Primary</button>
    <button mdbBtn type="button" color="default" outline="true" mdbWavesEffect>Default</button>
    <button mdbBtn type="button" color="secondary" outline="true" mdbWavesEffect>Secondary</button>
    <button mdbBtn type="button" color="success" outline="true" mdbWavesEffect>Success</button>
    <button mdbBtn type="button" color="info" outline="true" mdbWavesEffect>Info</button>
    <button mdbBtn type="button" color="warning" outline="true" mdbWavesEffect>Warning</button>
    <button mdbBtn type="button" color="danger" outline="true" mdbWavesEffect>Danger</button>
    <button mdbBtn type="button" gradient="peach" rounded="true" mdbWavesEffect>Peach</button>
    <button mdbBtn type="button" gradient="purple" rounded="true" mdbWavesEffect>Purple</button>
    <button mdbBtn type="button" gradient="blue" rounded="true" mdbWavesEffect>Blue</button>
    <button mdbBtn type="button" gradient="aqua" rounded="true" mdbWavesEffect>Aqua</button>
    <button mdbBtn type="button" color="elegant" mdbWavesEffect>Elegant</button>
    <button mdbBtn type="button" color="unique" mdbWavesEffect>Unique</button>
    <button mdbBtn type="button" color="pink" mdbWavesEffect>Pink</button>
    <button mdbBtn type="button" color="purple" mdbWavesEffect>Purple</button>
    <button mdbBtn type="button" color="deep-purple" mdbWavesEffect>Deep-Purple</button>
    <button mdbBtn type="button" color="indigo" mdbWavesEffect>Indigo</button>
    <button mdbBtn type="button" color="light-blue" mdbWavesEffect>Light-blue</button>
    <button mdbBtn type="button" color="cyan" mdbWavesEffect>Cyan</button>
    <button mdbBtn type="button" color="dark-green" mdbWavesEffect>Dark-Green</button>
    <button mdbBtn type="button" color="light-green" mdbWavesEffect>Light-green</button>
    <button mdbBtn type="button" color="yellow" mdbWavesEffect>Yellow</button>
    <button mdbBtn type="button" color="amber" mdbWavesEffect>Amber</button>
    <button mdbBtn type="button" color="deep-orange" mdbWavesEffect>Deep-Orange</button>
    <button mdbBtn type="button" color="brown" mdbWavesEffect>Brown</button>
    <button mdbBtn type="button" color="blue-grey" mdbWavesEffect>Blue-Grey</button>
    <button mdbBtn type="button" color="mdb-color" mdbWavesEffect>MDB</button>
    <button mdbBtn type="button" color="primary" mdbWavesEffect>
        <mdb-icon fas icon="magic" class="mr-1"></mdb-icon>Left
      </button>
      <button mdbBtn type="button" color="default" mdbWavesEffect>Right<mdb-icon fas icon="magic" class="ml-1"></mdb-icon></button>
  </div>


  <div class="row">
      <div class="btn-group" role="group" aria-label="Basic example">
          <button mdbBtn type="button" color="info" class="waves-light" mdbWavesEffect>Left</button>
          <button mdbBtn type="button" color="info" class="waves-light" mdbWavesEffect>Middle</button>
          <button mdbBtn type="button" color="info" class="waves-light" mdbWavesEffect>Right</button>
      </div>
  </div>


  <div class="row mt-3">
      <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <button mdbBtn type="button" color="primary" class="waves-light" mdbWavesEffect>1</button>
          <button mdbBtn type="button" color="primary" class="waves-light" mdbWavesEffect>2</button>

          <div class="btn-group" mdbDropdown>
              <button mdbDropdownToggle type="button" mdbBtn color="primary" class="dropdown-toggle waves-light" mdbWavesEffect>
                  Dropdown
              </button>

              <div class="dropdown-menu dropdown-primary">
                  <a class="dropdown-item" href="#">Dropdown link</a>
                  <a class="dropdown-item" href="#">Dropdown link</a>
              </div>
          </div>
      </div>
  </div>

  <div class="row mt-5">
    <a class="h1" href="https://mdbootstrap.com/docs/angular/" target="_blank">Have Fun with MdBootstrap</a>
  </div>


</div>
